<h1>Metis Project 2: Building Energy Benchmarking in Minneapolis</h1>
  <h3>Analyzing preliminary outcomes of Ordinance 47.190</h3>

  <div class='pull-right'>
    = image_tag("luther_mpls_skyline", width: 500)
    <br>
    .pull-right
      h5= link_to "Minneapolis", "#", target: "blank"
  <h3>Problem Statement</h3>
  <p></p>

  <p></p> 

  <div class='well'>
    <h3>Problem Statement</h3>
    <p></p>
  </div>

  <hr>
  <h3>Tapping into Public Data</h3>
  <ul>
    <li>Ordinance reports from the City (downloadable CSV)</li>
    <li>Property Info from the County website (scraped pages)</li>
    <li>Parcel information from the County (geo dataset)</li>
  </ul>

  <div class='panel'>
    <div class='panel-body'>
      <div class='pull-right'>
        = image_tag("luther_energy_star_score.png")
        <br>
        <div class='pull-right'>
          <h5>= link_to "More info about Energy Star Scores", "#", target: "blank"</h5>
        </div>
      </div>

      <h4></h4>
      <p> 
        As part of the Ordinance, <a href="http://www.ci.minneapolis.mn.us/environment/energy/benchmarking" target="blank"></a>
      </p>
    </div>
  </div>

  <div class='panel'>
    <div class='panel-body'>
      <div class='pull-right'>
        = image_tag("luther_energy_star_score.png")
        <br>
        <div class='pull-right'>
          <h5>= link_to "More info about Energy Star Scores", "#", target: "blank"</h5>
        </div>
      </div>

      <h4></h4>
      <p> 
        As part of the Ordinance, <a href="http://www.ci.minneapolis.mn.us/environment/energy/benchmarking" target="blank"></a>
      </p>
    </div>
  </div>

  <div class='panel'>
    <div class='panel-body'>
  
      <h3>Selecting Variables and Creating the Model</h3>

      <div class='pull-right'>
        = image_tag("luther_data_join.png", width: 500)
        br
        <div class='pull-right'>
          <h5>Joining 3 data sources on common keys</h5>
        </div>
      </div>
    </div>
  </div>

  <div class='panel'>
    <div class='panel-body'>
      <h3>Next Steps</h3> 
      <p>There are several things I would like to do as next steps:</p>
      <ul>
        <li>Revisit cleaning the data</li>
        <li>Continue transforming non-normal variables</li>
